<div class="navbar nav_title" style="border: 0;">
</div>

<div class="clearfix"></div>
<!-- sidebar menu -->
<div id="sidebar-menu" class="main_menu_side hidden-print main_menu mt-4">        
  <div class="menu_section">
    <h3>Administration</h3>
    <div class="clearfix"></div>
    <ul class="nav side-menu">
      <li><a class="btn-global-resync"><span style="color: #c75454; "><i class="fa fa-refresh"></i> Resync</span></a></li>
      <li><a href="/users"><i class="fa fa-user"></i> Users</a></li>
      <li><a href="/groups"><i class="fa fa-users"></i> Groups</a></li>
      <li><a href="/roles"><i class="fa fa-user-secret"></i> Roles</a></li>
      <li><a href="/sysadmin/external"><i class="fa fa-external-link"></i> Import</a></li>
      <li><a href="/dashboard"><i class="fa fa-paint-brush"></i> Customization</a></li>
      <li><a href="/legal"><i class="fa fa-legal"></i> Legal</a></li>
    

    </ul>

    {% if current_user.role == 'admin' %}
      <h3>System Admin</h3>
      <div class="clearfix"></div>
      <ul class="nav side-menu">
        <li><a href="/sysadmin/users"><i class="fa fa-user"></i> SysAdminUsers</span></a></li>
        <li><a href="/sysadmin/groups"><i class="fa fa-user"></i> SysAdminGroups</span></a></li>
      </ul>
      {% endif %}

  </div>
</div>
