<!-- extend base layout -->
{% extends "base.html" %}
{% block css %}
    <!-- Ion.RangeSlider -->
    <link href="/vendors/normalize-css/normalize.css" rel="stylesheet">
        <!-- Switchery -->
    <link href="/vendors/switchery/dist/switchery.min.css" rel="stylesheet">
{% endblock %}
{% block content %}

<div class="row">
	<div class="col-md-12 col-sm-12 col-xs-12">
		<div class="x_panel">
			<div class="x_title">
				<h3><i class="fa fa-user"></i> Users</h3>
				<ul class="nav navbar-right panel_toolbox">
					<li>
						<div class="item form-group">
							<label class="control-label col-md-3 col-sm-3 col-xs-12" for="bulk_actions">Bulk actions: <span class="required">*</span></label>
							<div class="col-md-6 col-sm-6 col-xs-12">
								<select id="bulk_actions" name="bulk_actions" class="form-control action" required>
									<option value=''>Select action</option>
									<option value='enable'>Enable</option>
									<option value='disable'>Disable</option>
									<option value='delete'>Delete</option>
								</select>
							</div>
						</div>
					</li>
					<li>
						<a class="btn-new-user"><span style="color: #5499c7; "><i class="fa fa-plus"></i> Add new</span></a>
					</li>
        </ul>
        <div class="clearfix"></div>
			</div>
			<div class="x_content">
				<table id="users" class="table" width="100%">
					<thead>
						<tr>
							<th>Enabled</th>
							<th>Avatar</th>
							<th>Role</th>
							<th>Actions</th>
							<th>Selected</th>
							<th>Username</th>
							<th>First</th>
							<th>Last</th>
							<th>Email</th>
							<th>Groups</th>
							<th>Quota</th>
						</tr>
					</thead>
					<tbody>
					</tbody>
					<tfoot>
						<tr>
							<th>Enabled</th>
							<th>Avatar</th>
							<th>Role</th>
							<th>Actions</th>
							<th>Selected</th>
							<th>Username</th>
							<th>First</th>
							<th>Last</th>
							<th>Email</th>
							<th>Groups</th>
							<th>Quota</th>
						</tr>
					</tfoot>
				</table>
			</div>
		</div>
		{% include 'pages/modals/users_modals.html' %}
		{% include 'pages/users_detail.html' %}
	</div>
</div>


{% endblock %}

{% block pagescript %}
   <!-- Ion.RangeSlider -->
    <script src="/vendors/ion.rangeSlider/js/ion.rangeSlider.min.js"></script>
    <!-- iCheck -->
    <script src="/vendors/iCheck/icheck.min.js"></script> 
    <!-- Switchery -->
    <script src="/vendors/switchery/dist/switchery.min.js"></script>
    <!-- Desktops sse & modals -->
	<script src="/static/js/users.js"></script>
{% endblock %}
