

<div id="navbar-menu-apps">
    <div id="menu-apps-btn">
        <button type="button" id="dropdownMenuAppsButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <img src="{{ data.user_avatar }}">
        </button>
        <div id="dropdownMenuApps" class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton" >
            <ul id="app-aapps">
                {% for item in data.user_menu %}
                <li class="app {{ item.shorname }}">
                    <a href="{{ item.href }}" class="app-link" target="_blank">
                        <div class="icon {{ item.shorname }}">
                            <i class="{{ item.icon }}" aria-hidden="true"></i>
                        </div>
                        <div class="text">{{ item.name }}</div>
                    </a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>